@model long


<div class="row" >
    <div class="pull-left">
        <button id="btnSave" name="btnSave" value="btnSave" type="submit" class="btn btn-primary"> ذخیره</button>
        <a href="@Url.Action("ViewDetails", "Property",new { id = Model })" type="button" class="btn btn-default">
            بازگشت
        </a>
    </div> 
</div>

