
@{
	ViewBag.Title = "فعال سازی حساب";
}

<h1>فعال سازی حساب</h1>

<p>
	برای اینکه از امکانات این سایت به بهترین نحو استفاده کنید، توصیه می کنیم که ابتدا حساب خود را فعال کنید. این کار
	<span style="text-decoration: underline; font-weight: bold;">کاملاً رایگان</span>
	است و به سرعت انجام می شود.
</p>

<p>
	برای فعال سازی حساب، کافی است یک روش تماس به سایت معرفی کنید و عمل اعتبار سنجی را برای آن انجام دهید تا ما
	مطمئن باشیم که شماره تلفن یا آدرس ایمیل متعلق به شما است.
</p>

<h2>نحوه فعال سازی</h2>

<a class="button fl" style="width: 150px;" href="@Url.Action("View", "MyProfile")">صفحه پروفایل >></a>

<p>
	برای فعال سازی حساب خود، کافی است به صفحه 
	پروفایل
	مراجعه کنید و لینک «فعال سازی» را در مقابل یکی از روش های تماس که به وسیله آن سیستم می تواند با شما تماس بگیرد را انتخاب کنید.
	این روش ها شامل آدرس ایمیل و شماره تلفن همراه است.
</p>

<p>
	با انجام این کار، سیستم پیغامی برای شما (از طریق ایمیل یا پیام کوتاه) ارسال می کند که حاوی یک رمز تصادفی است.
	با ارائه این رمز، سیستم اطمینان حاصل می کند که آدرس ایمیل یا شماره تلفن متعلق به شما است و می تواند برای تماس با شما
	در آینده از آن استفاده کند.
</p>

<p>
	در صورتی که آدرس ایمیل یا شماره تلفن همراه به سیستم معرفی نکرده اید، در همان صفحه می توانید آن را اضافه کنید.
</p>

<p>
	برای فعال سازی حساب لازم نیست تلفن یا آدرس ایمیل خود را عمومی کنید. می توانید در فیلد «نمایش به» از گزینه «هیچ کس» استفاده کنید.
	در این صورت، آدرس ایمیل یا شماره تلفن شما به سایر کاربران نمایش داده نشده، و تنها توسط سیستم برای ارتباط با شما استفاده می شود.
</p>

<h2>چرا؟</h2>

<p>
	برخی از مکانیزم های امنیتی از ارسال پیغام های سیستمی برای ارتباط با شما استفاده می کنند. برای مثال، در صورتی که کلمه عبور
	یا نام کاربر خود را فراموش کنید، سیستم با ارسال ایمیل یا پیام کوتاه می تواند به شما کمک کند. با کسب اطمینان از اینکه اطلاعات
	وارد شده صحیح بوده و متعلق به شماست، از سوء استفاده از این قابلیت جلوگیری می شود و شما هم اطمینان پیدا می کنید که
	هیچ وقت دسترسی خود را به اطلاعات و حساب خود از دست نمی دهید.
</p>

<p>
	همچنین بسیاری از امکانات سایت با داشتن اطلاعات تماس شما بهبود می یابد. برای مثال
	امکان خبر رسانی به شما در مواقع مختلفی که انتخاب کرده اید، مانند اتمام مهلت آگهی یا دریافت پیغام ایجاد می شود؛
	قرار گرفتن اطلاعات ثبت شده توسط شما با سرعت بیشتری انجام می شود؛
	یا هنگامی که ملکی با مشخصات مورد نظر شما ثبت می شود سیستم می تواند شما را مطلع کند.
</p>

<p>
	برای این موارد، باید ابتدا ما از صحت اطلاعات تماس شما اطمینان داشته باشیم، تا راه سوء استفاده از این قابلیت ها
	توسط سایر افراد مسدود شود.
</p>

