<ui-select ng-model="$parent.model" theme="bootstrap" search-enabled="true" class="searchable-ui-select"
           ng-required="$parent.jjRequired" ng-disabled="$parent.jjDisabled">
    <ui-select-match placeholder="فرد را انتخاب کنید" allow-clear="{{ !!jjAllowClear }}">{{$select.selected.DisplayName}}</ui-select-match>
    <ui-select-choices repeat="customer in allCustomerOptions"
                       refresh="searchCustomers($select.search)" refresh-delay="0">
        <small ng-bind-html="customer.DisplayName | highlight: $select.search"></small>
    </ui-select-choices>
</ui-select>