<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendSoap" />
        <binding name="AlertsSoap" />
        <binding name="ActionsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.farapayamak.ir/post/send.asmx" binding="basicHttpBinding" bindingConfiguration="SendSoap" contract="ExternalServices.Farapayamak.SendWebService.SendSoap" name="SendSoap" />
      <endpoint address="http://www.farapayamak.ir/post/alerts.asmx" binding="basicHttpBinding" bindingConfiguration="AlertsSoap" contract="ExternalServices.Farapayamak.AlertsWebService.AlertsSoap" name="AlertsSoap" />
      <endpoint address="http://www.farapayamak.ir/post/actions.asmx" binding="basicHttpBinding" bindingConfiguration="ActionsSoap" contract="ExternalServices.Farapayamak.ActionsWebSerivce.ActionsSoap" name="ActionsSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>