<div class="container requestView" ng-show="$state.current.name === 'myrequests'">
    <div class="row" ng-show="Requests != null && Requests.length != 0">
        <div class="col-md-12">
            <table class="table table-hover searchResult">
                <thead>
                <tr>
                    <th class="col-md-1">
                        <input type="checkbox" ng-model="selectAllRequests"/>
                    </th>
                    <th class="col-md-2">
                        <label>
                            درخواست
                        </label>
                    </th>
                    <th class="hidden-xs col-md-1">
                        <label>کاربری</label>
                    </th>
                    <th class="col-md-1">
                        <label>
                            نوع معامله
                        </label>
                    </th>
                    <th class="hidden-xs col-md-1">
                        <label>وضعیت</label>
                    </th>
                    <th class="hidden-xs col-md-1" ng-show="extendMenu">
                        <jj-sortable-header title="'بودجه'" sort-column-name="'TotalPrice'" sort-column="SortColumn" sort-direction="SortDirection"></jj-sortable-header>
                    </th>
                    <th class="hidden-xs col-md-1" ng-show="extendMenu">
                        <jj-sortable-header title="'ودیعه'" sort-column-name="'Mortgage'" sort-column="SortColumn" sort-direction="SortDirection"></jj-sortable-header>
                    </th>
                    <th class="hidden-xs col-md-1" ng-show="extendMenu">
                        <jj-sortable-header title="'اجاره'" sort-column-name="'Rent'" sort-column="SortColumn" sort-direction="SortDirection"></jj-sortable-header>
                    </th>
                    <th class="hidden-xs col-md-1" restrict-to="Administrator">
                        <label>
                            ثبت کننده
                        </label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="request in Requests" ng-class="{'gray-background' : request.SourceType !== 1}">
                    <td class="col-md-1">
                        <input class="pull-right had-margin" type="checkbox" ng-model="request.Selected" ng-click="resetIdsList(request)"/>
                        <span class="pull-right had-margin" ng-switch="request.SourceType">
                            <span ng-switch-when="1">
                                <img class="tiny-logo" ng-src="Content/images/HaftdongLogo.png" alt="هفت دنگ">
                            </span>
                            <span ng-switch-when="4">
                                <img class="tiny-logo" ng-src="Content/images/SheshdongLogo.png" alt="شش دنگ">
                            </span>
                            <span ng-switch-default></span>
                        </span>
                    </td>
                    <td class="col-md-2">
                        <a ui-sref="requests.details({id:request.ID})">
                            <span ng-repeat="propertyType in request.PropertyTypes" style="word-wrap: break-word">
                                {{propertyType | PropertyType}} <span ng-hide="$index==request.PropertyTypes.length-1">-</span>
                            </span>
                        </a>
                    </td>
                    <td class="hidden-xs col-md-1">{{request.UsageType | UsageType}}</td>
                    <td class="col-md-1">{{request.IntentionOfCustomer | IntentionOfCustomer}}</td>
                    <td class="hidden-xs col-md-1">{{request.State | RequestState}}</td>
                    <td class="hidden-xs col-md-1" ng-show="extendMenu">{{request.TotalPrice | number}}</td>
                    <td class="hidden-xs col-md-1" ng-show="extendMenu">{{request.Mortgage | number}}</td>
                    <td class="hidden-xs col-md-1" ng-show="extendMenu">{{request.Rent | number}}</td>
                    <td class="hidden-xs col-md-1" restrict-to="Administrator">{{request.CreatorFullName}}</td>
                </tr>
                <tr class="second-line" ng-repeat-end ng-class="{'gray-background' : request.SourceType !== 1}"
                    ng-show="request.Vicinities != null && request.Vicinities.length != 0">
                    <td class="col-md-1"></td>
                    <td class="col-md-11" colspan="9">
                        محدوده: <span ng-repeat="vicinity in request.Vicinities">{{vicinity}}{{$last ? '' : ', '}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" ng-show="Requests == null">
                در حال گرفتن اطلاعات...
            </div>
            <div class="row" ng-show="Requests != null && Requests.length === 0">
                ملکی وجود ندارد
            </div>
            <jj-pagination page-number="PageNumber" number-of-pages="NumberOfPages" total-number-of-items="TotalNumberOfItems" page-size="PageSize" on-change-page-click="getDataDown(page)"></jj-pagination>
        </div>
    </div>
</div>
<div ui-view autoscroll="false"></div>