@using JahanJooy.RealEstate.Web.Areas
@model dynamic


<div style="direction: ltr; padding: 15px;">
	<h1>API Home</h1>

	<p>
		KHOONAT.COM provides various web API functions for system-level interaction and intewith with other software.
	</p>
	
	<p>
		For information about API functions, please <a href="@Url.Action("ContactUs", "UserFeedback", AreaRouteValue.Main)">contact us.</a>
	</p>
</div>

