@*<div class="row">*@
@*    <div class="col-md-2">*@
@*        <a href="">سرمایه گذاری در ملک</a>*@
@*    </div>*@
@*    <div class="col-md-2">*@
@*        <a href="">آموزش و مقالات</a>*@
@*    </div>*@
@*    <div class="col-md-1">*@
@*        <a href="">اخبار مسکن</a>*@
@*    </div>*@
@*    <div class="col-md-1">*@
@*        <a href="">قوانین</a>*@
@*    </div>*@
@*    <div class="col-md-1">*@
@*        <a href="">ارتباط با ما</a>*@
@*    </div>*@
@*    <div class="col-md-1">*@
@*        <a href="">درباره ما</a>*@
@*    </div>*@
@*    <div class="col-md-2">*@
@*        <a href="">نرم افزار تلفن همراه</a>*@
@*    </div>*@
@*    <div class="col-md-2">*@
@*        <a href="">تبلیغات در سایت</a>*@
@*    </div>*@
@*</div>*@
@**@
