<div class="panel panel-default">
    <div class="panel-body">
	    <div class="form-group">
		    <div class="col-xs-6 control-label">
				<label for="DaysToKeepSendingNotificatons">تا چه مدت زمانی این پیغام ها ارسال بشن؟</label>
		    </div>
			<div class="col-xs-6">
				<select id="DaysToKeepSendingNotificatons" name="DaysToKeepSendingNotificatons" class="form-control">
					<option value="" selected="selected">تا زمانی که خودم غیر فعال شون کنم</option>
					<option value="2">تا دو روز آینده</option>
					<option value="4">تا چهار روز آینده</option>
					<option value="7">تا یک هفته آینده</option>
					<option value="14">تا دو هفته آینده</option>
					<option value="21">تا سه هفته آینده</option>
					<option value="30">تا یک ماه آینده</option>
					<option value="60">تا دو ماه آینده</option>
					<option value="90">تا سه ماه آینده</option>
					<option value="120">تا چهار ماه آینده</option>
					<option value="150">تا پنج ماه آینده</option>
					<option value="180">تا شش ماه آینده</option>
				</select>
			</div>
	    </div>
    </div>
</div>