@model JahanJooy.RealEstate.Web.Models.Properties.PropertiesSaveSearchModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
	        <label for="Title" class="col-xs-3 control-label">عنوان این جستجتو:</label>
            <div class="col-xs-9">@Html.TextBoxFor(m => m.Title, new {maxlength = 100})</div>
        </div>
    </div>
</div>