
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">سپاس</h4>
	</div>
	<div class="modal-body">
		<p>
			موارد مورد نظر شما برای مدیر سایت فرستاده شد و حتماً در اولین فرصت بررسی می شه.
		</p>

		<p>
			از اینکه وقت پر ارزشتون رو صرف کردید تا به ما کمک کنید که این سایت رو بهبود بدیم، بی نهایت ممنونیم.
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">باشه</button>
	</div>
</div>

