
<div class="page-header">
	<h1>سپاس</h1>
</div>

<p>
	موارد مورد نظر شما برای مدیر سایت فرستاده شد و حتماً در اولین فرصت بررسی می شه.
</p>

<p>
	از اینکه وقت پر ارزشتون رو صرف کردید تا به ما کمک کنید که این سایت رو بهبود بدیم، بی نهایت ممنونیم.
</p>

