@model JahanJooy.RealEstate.Web.Models.UserFeedback.UserFeedbackReportSuggestionModel

@{
	ViewBag.Title = "طرح پیشنهاد برای بهبود سامانه";
	ViewBag.MetaDescription = "توضیحات در مورد نحوه گزارش پیشنهادات در مورد سایت خونه ت دات کام، برای بهبود کاربری در ثبت، انتشار و جستجوی آگهی های رایگان ملکی، و فرم ثبت پیشنهاد";
}

<div class="page-header">
	<h1 class="">ارائه پیشنهاد برای بهبود کارکرد سامانه</h1>	
</div>


<mark>از شما سپاس گزاریم، زیرا به ما در بهینه سازی این سامانه عمومی کمک می کنید.</mark>

<p>
	لطف کنید و فرم زیر رو پرکنید تا این اطلاعات مستقیماً به دست مسئول سایت و برنامه نویس ها برسه.
	همچنین می تونید به ما ایمیل بزنید، پیام کوتاه بفرستید، یا تماس بگیرید و هر جور اطلاعات دیگه ای که فکر می کنید برای رفع مشکل مفیده به ما بدید.
	<a href="@Url.Action("ContactUs")">همه روش های ارتباطی که می تونید ازشون استفاده کنید در صفحه ارتباط با ما در اختیارتون هستن.</a>
</p>


<div class="panel panel-primary">
	<div class="panel-heading"><h2 class="panel-title">فرم ارسال پیشنهاد</h2></div>
	<div class="panel-body">
		@Html.Partial("Forms/ReportSuggestionForm", Model)
	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading"><h2 class="panel-title"> مکانیزم بررسی پیشنهادهای شما</h2></div>
	<div class="panel-body">
		<p>
			پیشنهاد شما یا اشکالی که گزارش کرده اید، در فهرستی طولانی از مجموعه بهینه سازی های مورد نظر برای این سامانه
			قرار خواهد گرفت، و با توجه به محدودیت های موجود در زمان و منابع قابل تخصیص به سامانه برای انجام اولویت بندی
			می شود.
		</p>

		
		<p>
			ما سعی داریم که حتماً به گزارش یا پیشنهاد شما پاسخ دهیم و شما را در جریان برنامه ریزی آن قرار دهیم، اما در صورتی
			که به دلیل کمبود وقت به ایمیل شما مستقیماً پاسخ ندادیم، پیشاپیش پوزش می خواهیم. به هر حال به شما این اطمینان داده
			می شود که گزارش یا پیشنهاد شما بررسی شده، و کمک بزرگی به ما خواهد بود.
		</p>

		<p class="lead text-danger">
			<strong>
				از اینکه وقت گران بهای خود را صرف بهبود این سامانه می کنید، از شما بی نهایت سپاس گزاریم.
			</strong>
		</p>

	</div>
</div>




