@model JahanJooy.RealEstate.Web.Models.UserFeedback.UserFeedbackReportIssueModel

@{
	ViewBag.Title = "گزارش اشکال در نحوه کارکرد یا اطلاعات سامانه";
	ViewBag.MetaDescription = "توضیحات در مورد نحوه گزارش اشکالات مشاهده شده در سایت خونه ت دات کام، برای بهبود کاربری در ثبت، انتشار و جستجوی آگهی های رایگان ملکی و فرم گزارش اشکال";
}

<div class="page-header">
	<h1>گزارش اشکال در نحوه کارکرد یا اطلاعات سامانه</h1>	
</div>


<p>
	از شما سپاس گزاریم، زیرا به ما در بهینه سازی این سامانه عمومی کمک می کنید.
</p>

<p>
	لطفاً دقت کنید که در صورتی که اشکال مورد نظرتون مربوط به محتویات و اطلاعات یک ملک خاص در سایت است
	و می خواهید اشتباه یا سوء استفاده در این اطلاعات رو اعلام کنید، لطفاً در همون صفحه روی
	عبارت «گزارش سوء استفاده» کلیک کنید و توضیحتون رو در فرم نمایش داده شده ثبت کنید.
</p>

<h2>اگر اشکال یا خطا در کارکرد سامانه مشاهده می کنید</h2>

<p>
	پوزش ما رو بپذیرید. برای اینکه ما بتونیم خطا رو سریع تر پیدا کنیم، لطف کنید و فرم زیر رو پرکنید تا این اطلاعات مستقیماً به دست مسئول سایت و برنامه نویس ها برسه.
	همچنین می تونید به ما ایمیل بزنید، پیام کوتاه بفرستید، یا تماس بگیرید و هر جور اطلاعات دیگه ای که فکر می کنید برای رفع مشکل مفیده به ما بدید.
	<a href="@Url.Action("ContactUs")">همه روش های ارتباطی که می تونید ازشون استفاده کنید در صفحه ارتباط با ما در اختیارتون هستن.</a>
</p>

<div class="panel panel-primary">
	<div class="panel-heading"><h2 class="panel-title">فرم گزارش اشکال</h2></div>
	<div class="panel-body">
		<p>
			<strong>تمام فیلد ها اختیاری هستند</strong>، فقط فیلد هایی که دوست دارید پر کنید.
		</p>
		@Html.Partial("Forms/ReportIssueForm", Model)
	</div>
</div>



<p class="lead text-danger">
	<strong>
		از اینکه وقت گران بهای خود را صرف بهبود این سامانه می کنید، از شما بی نهایت سپاس گزاریم.
	</strong>
</p>
