@using JahanJooy.RealEstate.Web.Areas
@model dynamic

<div class="page-header">
	<h1>
		<a href="@Url.Action("Index", "BillingHome", AreaRouteValue.Billing)">سامانه مالی</a>:
		کارت های تخفیف
	</h1>
</div>

<p>
	<strong>کاربر گرامی؛</strong>
</p>
<p>
    برنامه نویسی این قسمت از سامانه هنوز کامل نشده، و به زودی در سایت اضافه خواهد شد.
</p>
<p>
    در صورتی که در مورد کارت های تخفیف سوال یا نکته ای دارید، می تونید از طریق صفحه
    <a href="@Url.Action("ContactUs", "UserFeedback", AreaRouteValue.Main)">تماس با ما</a>
    اون رو مطرح کنید.
</p>
<p>
	<strong>از صبر و حوصله شما سپاس گزاریم.</strong>
</p>
