<div class="container vicinityView" ng-show="$state.current.name === 'vicinities'">
    <div class="page-header">
        <h1>فهرست محله ها</h1>
    </div>
    <div class="well well-lg">
        <div class="row">
            <div class="col-md-4">
                <ui-select ng-model="$parent.parentId" data-placeholder="Pick a List" title="Choose a List" theme="bootstrap">
                    <ui-select-match>{{$select.selected.Text}}</ui-select-match>
                    <ui-select-choices repeat="opt.ID as opt in hierarchyList">
                        {{opt.Text}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-6">
                <input type="text" ng-model="searchText" ng-minlength="2" placeholder="عبارت مورد جستجو را بنویسید (حداقل دو حرف)"/>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 text-left">
                <button class="btn btn-success btn-sm searchButton" ng-click="onSearchClick()"><i class="fa fa-search"></i> جستجو</button>
            </div>
        </div>
    </div>
    <div ng-if="parentId != null">
        <div class="row pathDetail">
            <div class="col-md-12">
                <span><a ui-sref="vicinities({id: null})">همه محله ها</a></span>
                <span ng-repeat="node in hierarchy"> | <a ui-sref="vicinities({id: node.ID})">{{node.Type | VicinityType}} {{node.Name}}</a></span>
            </div>
        </div>
        <hr/>
        <div class="row vicinityDetail" ng-show="currentVicinity">
            <div class="col-md-3">
                نام: {{currentVicinity.Type | VicinityType}} {{currentVicinity.Name}}
            </div>
            <div class="col-md-3">
                سایر نامها: {{currentVicinity.AlternativeNames}}
            </div>
            <div class="col-md-3">
                <button class="btn btn-default btn-sm" ng-click="onMapClick(currentVicinity)" restrict-to="Administrator">
                    <i class="fa fa-map-marker" title="نقشه"></i>
                </button>
                <button class="btn btn-default btn-sm" ui-sref="vicinities.edit({id: currentVicinity.ID})" restrict-to="Administrator">
                    <i class="fa fa-pencil-square-o" title="ویرایش"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-click="onRemoveClick(currentVicinity.ID)" restrict-to="Administrator">
                    <i class="fa fa-remove" title="حذف"></i>
                </button>
            </div>
        </div>
        <hr ng-show="currentVicinity"/>
    </div>
    <div class="row content">
        <div class="col-xs-12">
            <table class="table table-hover searchResult">
                <thead>
                <tr>
                    <th class="col-md-1">
                        <input type="checkbox" ng-model="selectAllVicinities"/>
                    </th>
                    <th class="col-md-2">نوع</th>
                    <th class="col-md-2">نام</th>
                    <th class="col-md-2">سایر نامها</th>
                    <th class="col-md-1">فعال</th>
                    <th class="col-md-1">ملک</th>
                    <th class="col-md-2">ویرایش</th>
                </tr>
                </thead>
                <tr ng-repeat="item in items">
                    <td class="col-md-1">
                        <input type="checkbox" ng-model="item.Selected"/>
                    </td>
                    <td class="col-md-2">{{item.Type | VicinityType}}</td>
                    <td class="col-md-2">
                        <a ui-sref="vicinities({id: item.ID})">{{item.Name}}</a>
                    </td>
                    <td class="col-md-2">{{item.AlternativeNames}}</td>
                    <td class="col-md-1">
                        <span jj-tristate="item.Enabled"></span>
                    </td>
                    <td class="col-md-1">
                        <span jj-tristate="item.CanContainPropertyRecords"></span>
                    </td>
                    <td class="col-md-2">
                        <button class="btn btn-default btn-sm" ng-click="onMapClick(item)" restrict-to="Administrator">
                            <i class="fa fa-map-marker" title="نقشه"></i>
                        </button>
                        <button class="btn btn-default btn-sm" ui-sref="vicinities.edit({id: item.ID})" restrict-to="Administrator">
                            <i class="fa fa-pencil-square-o" title="ویرایش"></i>
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="onRemoveClick(item.ID)" restrict-to="Administrator">
                            <i class="fa fa-remove" title="حذف"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <div class="well" ng-show="items.length == 0">
                هیچ محله ای تعریف نشده است.
            </div>
            <div ng-if="searchResult">
                <jj-pagination page-number="PageNumber" number-of-pages="NumberOfPages" total-number-of-items="TotalNumberOfItems" page-size="PageSize" on-change-page-click="getSearchData(page)"></jj-pagination>
            </div>
            </div>
    </div>
    <div class="row" licensed>
        <button class="btn btn-primary newVicinityButton" ui-sref="vicinities.new" restrict-to="Administrator"><i class="fa fa-plus"></i> محله جدید </button>
        <button class="btn btn-success enableButton" ng-click="onEnableClick()" restrict-to="Administrator"><i class="fa fa-check"></i> فعال</button>
        <button class="btn btn-warning disableButton" ng-click="onDisableClick()" restrict-to="Administrator"><i class="fa fa-times"></i> غیر فعال</button>
        <button class="btn btn-success containPropertyButton" ng-click="onContainPropertyClick()" restrict-to="Administrator"><i class="fa fa-check"></i> امکان ثبت ملک</button>
        <button class="btn btn-warning doesNotContainPropertyButton" ng-click="onDoesNotContainPropertyClick()" restrict-to="Administrator"><i class="fa fa-times"></i> عدم امکان ثبت ملک</button>
        <button class="btn btn-success moveButton" ng-click="onMoveClick()" restrict-to="Administrator"><i class="fa fa-arrows"></i> جابجایی</button>
        <button class="btn btn-danger deleteButton" ng-click="onRemoveClick()" restrict-to="Administrator"><i class="fa fa-trash-o"></i> حذف</button>
    </div>
    <div class="row" licensed>
        <button class="btn btn-primary" ng-click="onRetrieveClick()" restrict-to="Administrator"><i class="fa fa-refresh"></i> بازیابی اطلاعات</button>
    </div>
</div>
<div ui-view autoscroll="false"></div>