@* ** Top Menu ********* *@
<li class="dropdown" dropdown>
    <a href="" class="dropdown-toggle fileMenu" dropdown-toggle role="button" aria-expanded="false">فایل <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li licensed>
            <a ui-sref="files.new"><i class="fa fa-plus-circle"></i> جدید</a>
        </li>
        <li>
            <a ui-sref="files"><i class="fa fa-search"></i> جستجو</a>
        </li>
        <li class="divider"></li>
        <li>
            <a ui-sref="myfiles">فایل های من</a>
        </li>
        <li>
            <a ui-sref="mypublicfiles">فایل های عمومی من</a>
        </li>
    </ul>
</li>
<li class="dropdown" dropdown>
    <a href="" class="dropdown-toggle requestMenu" dropdown-toggle role="button" aria-expanded="false">درخواست <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li licensed>
            <a ui-sref="requests.new"><i class="fa fa-plus-circle"></i> جدید</a>
        </li>
        <li>
            <a ui-sref="requests"><i class="fa fa-search"></i> جستجو</a>
        </li>
        <li class="divider"></li>
        <li>
            <a ui-sref="myrequests">درخواست های من</a>
        </li>
        <li>
            <a ui-sref="mypublicrequests">درخواست های عمومی من</a>
        </li>
    </ul>
</li>
<li class="dropdown" dropdown>
    <a href="" class="dropdown-toggle contractMenu" dropdown-toggle role="button" aria-expanded="false">قرارداد <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li licensed>
            <a ui-sref="contracts.new"><i class="fa fa-plus-circle"></i> جدید</a>
        </li>
        <li>
            <a ui-sref="contracts"><i class="fa fa-search"></i> جستجو</a>
        </li>
    </ul>
</li>
<li class="dropdown" dropdown>
    <a href="" class="dropdown-toggle customerMenu" dropdown-toggle role="button" aria-expanded="false">دفتر تلفن <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li licensed>
            <a ui-sref="customers.new"><i class="fa fa-plus-circle"></i> جدید</a>
        </li>
        <li>
            <a ui-sref="customers"><i class="fa fa-search"></i> جستجو</a>
        </li>
    </ul>
</li>
<li class="dropdown" dropdown>
    <a href="http://c.haftdong.com/">وبلاگ</a>
</li>
<li class="dropdown" dropdown restrict-to="Administrator">
    <a href="" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">عملیات <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ui-sref="operations">مدیریت ایندکس ها</a>
        </li>
    </ul>
</li>