
@{
	ViewBag.Title = "تغییر رمز عبور کاربر انجام شد";
}

<div class="well">تغییر رمز عبور</div>

<p>
	تغییر رمز عبور با موفقیت انجام شد.
</p>

<ul>
	<li>@Html.ActionLink("پروفایل", "View", "MyProfile")</li>
	<li>@Html.ActionLink("صفحه اول", "Index", "Home")</li>
</ul>
