
@{
	ViewBag.Title = "بازیابی نام کاربری انجام شد";
}

<div class="page-header">
	<h1>درخواست نام کاربری با موفقیت انجام شد</h1>
</div>

<div>
    نام کاربری شما به شماره تلفن یا آدرس پست الکترونیکی که با استفاده از آن حساب خود را فعال کرده اید، ارسال شده است.
    با استفاده از این نام کاربر می توانید هم اکنون به سامانه وارد شوید.
</div>

<br/>


<a id="btnLogin" class="btn btn-primary btn-lg" style="width: 200px;" href="@Url.Action("LogOn")">
	<span class="glyphicon glyphicon-log-in"></span>
	ورود به سیستم
</a>

<br/>
<br/>

<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">در صورتی که پیغام حاوی نام کاربری را دریافت نکردید</h3></div>
	<div class="panel-body">
		<p>ممکن است به دلایل زیر پیغام برای شما ارسال نشود:</p>
		<ul>
			<li>در صورتی که تلفن یا آدرس ایمیلی که وارد کردید، در اطلاعات تماس شما ثبت نشده باشد یا بعداً توسط شما حذف شده باشد.</li>
			<li>در صورتی که تلفن یا آدرس ایمیلی که وارد کردید «فعال سازی» نکرده باشید.</li>
			<li>در صورتی که حساب کاربری شما توسط مدیر سیستم غیرفعال شده باشد.</li>
		</ul>
		<p>
			اگر اطمینان دارید که شرایط فوق پیش نیامده، ممکن است پیغام سیستم به دلایل مخابراتی به دست شما نرسیده باشد. در صورتی که
			از ایمیل استفاده می کنید، حتماً پوشه اسپم را بررسی کنید تا مطمئن شوید که سامانه ایمیل شما پیغام این سایت را به عنوان
			هرزنامه شناسایی نکرده باشد.
		</p>
		<p>
			لطفاً پس از در نظر گرفتن همه موارد فوق، مجدداً سعی کنید. در صورتی که وفق نشدید به حساب خود دسترسی داشته باشید، پیغامی برای مدیر سایت
			ارسال کنید تا ما بتوانیم به شما کمک کنیم.
		</p>
	</div>
</div>
