
@{
	ViewBag.Title = "دسترسی به صفحه غیر مجاز";
}

<h1>دسترسی به صفحه غیر مجاز</h1>
<p>
	سطح دسترسی شما امکان مشاهده صفحه مورد درخواست را به شما نمی دهد. در صورتی که می خواهید با کاربر
	دیگری وارد شوید که سطح دسترسی بالاتری دارد، لطفاً ابتدا
	@Html.ActionLink("از سیستم خارج شوید", "LogOff", "Account", new { Area = "" }, new { }).
</p>
