
@{
	ViewBag.Title = "تنظیم مجدد کلمه عبور انجام شد";
}

<div class="page-header">
	<h1>تنظیم مجدد کلمه عبور با موفقیت انجام شد.</h1>
</div>

<div>
    هم اکنون شما می توانید با نام کاربری و کلمه عبور جدید خود به سامانه وارد شده و از آن استفاده کنید.
</div>

<a class="btn btn-success btn-lg" href="@Url.Action("LogOn")" type="button" style="width: 200px;">
	<span class="glyphicon glyphicon-log-in"></span>
	ورود به سیستم
</a>

