<ui-select ng-model="$parent.model" theme="bootstrap" search-enabled="false" title="قصد مشتری" class="no-search" ng-required="$parent.jjRequired" ng-disabled="$parent.jjDisabled">
    <ui-select-match class="ui-select-match" placeholder="قصد مشتری را انتخاب کنید" allow-clear="{{ !!jjAllowClear }}">{{$select.selected.text}}</ui-select-match>
    <ui-select-choices class="ui-select-choices" repeat="opt.id as opt in intentionOfOwnerOptions">
        {{opt.text}}
    </ui-select-choices>
</ui-select>
