<?xml version="1.0" encoding="utf-8" ?>
<CompositionInfo xmlns="http://www.compositional.net/schema/compositionXml.1.0.xsd">

	<SetVariable name="notification.email.smtpAddress" string="mail.khoonat.com" />
	<SetVariable name="notification.email.smtpPort" int32="25" />
	<SetVariable name="notification.email.useDefaultCredentials" boolean="false" />
	<SetVariable name="notification.email.smtpLoginName" string="notifications@khoonat.com" />
	<SetVariable name="notification.email.smtpPassword" string="atH3c!P$a" />
	<SetVariable name="notification.email.useSsl" boolean="true" />
	<SetVariable name="notification.email.fromAddress" string="khoonat.com &lt;notifications@khoonat.com&gt;" />

	<SetVariable name="notification.sms.farapayamak.address" string="http://www.farapayamak.ir/post/send.asmx" />
	<SetVariable name="notification.sms.farapayamak.loginName" string="9394408400" />
	<SetVariable name="notification.sms.farapayamak.password" string="zyaB@o52vA" />
	<SetVariable name="notification.sms.farapayamak.senderLineNumber" string="30007008007080" />

	<SetVariable name="binaryStore.listingPhoto.untouched.path" string="G:\khoonat\ListingPhoto\Untouched" />
	<SetVariable name="binaryStore.listingPhoto.thumbnail.path" string="G:\khoonat\ListingPhoto\Thumbnail" />
	<SetVariable name="binaryStore.listingPhoto.mediumSize.path" string="G:\khoonat\ListingPhoto\MediumSize" />
	<SetVariable name="binaryStore.listingPhoto.fullSize.path" string="G:\khoonat\ListingPhoto\FullSize" />

</CompositionInfo>
