
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">خطای عدم دسترسی</h4>
	</div>
	<div class="modal-body">
		شما دسترسی کافی برای اجرای این دستور را ندارید.
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">باشه</button>
	</div>
</div>


