@using JahanJooy.RealEstateAgency.Domain.Enums.User
@using JahanJooy.RealEstateAgency.Util.Templates.Email
@functions {
    private PasswordRecoveryCompletionNotificationModel _model;
    public override void SetModel(object model)
    {
        _model = (PasswordRecoveryCompletionNotificationModel)model;
    }
}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table width="95%" style="width: 95%; direction: rtl; font-size: 20px;">
        <tr>
            <td style="background-color: #dddddd;">
                <table width="100%" style="width: 100%; font-size: 20px; font-weight: bold;" cellpadding="10" cellspacing="5">
                    <tr>
                        <td>تکمیل بازیابی کلمه عبور</td>
                        <td style="text-align: left;"><a href="http://www.Haftdong.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">هفت دنگ دات کام</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <p>
                    کاربر گرامی،
                    @_model.User.DisplayName،
                </p>
                <p>
                    به اطلاع می رساند مکانیزم تنظیم مجدد کلمه عبور فراموش شده برای حساب شما با موفقیت به پایان رسید و
                    کلمه عبور شما در سایت به مقدار ارائه شده تغییر کرد.
                </p>
                @if (_model.ContactMethodType == ContactMethodType.Email)
                {
                    <p style="background-color: #ffffaa; border: dashed 1px darkgray; padding: 10px;">
                        نحوه بازیابی کلمه عبور: آدرس ایمیل
                        <span style="direction: ltr;">@_model.ApplicationUserContactMethod.NormalizedValue</span>
                    </p>
                }
                @if (_model.ContactMethodType == ContactMethodType.Phone)
                {
                    <p style="background-color: #ffffaa; border: dashed 1px darkgray; padding: 10px;">
                        نحوه بازیابی کلمه عبور: شماره تلفن
                        <span style="direction: ltr;">@_model.ApplicationUserContactMethod.NormalizedValue</span>
                    </p>
                }
                <p>
                    شما هم اکنون می توانید با نام کاربری
                    @(_model.User.UserName)
                    و کلمه عبور جدید خود در سایت وارد شوید و از امکانات حساب کاربری خود استفاده کنید.
                </p>
                <p>
                    از اینکه از خدمات این سایت استفاده می کنید سپاس گزاریم؛
                    <br />
                    هفت دنگ دات کام
                </p>
            </td>
        </tr>
        <tr>
            <td style="font-size: 20px; text-align: center; background-color: #dddddd; padding: 10px">
                <a href="http://www.haftdong.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">www.haftdong.com</a>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; font-size: 14px;">
                <br /><br />
                این پیغام توسط سیستم تولید شده است و در صورتی که به آن پاسخ دهید به دست ما نخواهد رسید.
                اگر در خصوص این پیغام یا هر موضوع دیگری تمایل دارید با مسئولین سایت در تماس باشید، لطفاً
                از صفحه «تماس با ما» در سایت استفاده کنید.
            </td>
        </tr>
    </table>
</body>
</html>
