<br/>
<div>
    مشخصات ملک برای گیرنده با موفقیت ارسال شد.
</div>

<br/>
<br/>
<div style="text-align: center; margin: 40px;">
    <input id="btnCancel" name="btnCancel" class="button cancel" type="button" value="بازگشت" style="width: 120px;" onclick=" $('.qtip:visible').qtip('hide'); " />
</div>

<script type="text/javascript">
    $('.cancel').click(function () {
        $('.qtip:visible').qtip('hide');
    })
</script>

