<div class="container resetPaswordView">
    <div class="page-header">
        <h1>تنظیم مجدد کلمه عبور</h1>
    </div>
    <form name="frmResetPassword" class="form-horizontal" novalidate>
        <p>
            یک کد رمز تصادفی برای حساب شما ایجاد شده و به تلفن همراه یا آدرس ایمیلی که برای فعال سازی حساب خود
            از آن استفاده کرده بودید ارسال شده است. برای تنظیم مجدد رمز عبور، لطفاً این رمز را در فرم زیر وارد کرده،
            و کلمه عبور جدیدی برای حساب خود معیین کنید. در صورت تطابق رمز تصادفی ارسال شده، کلمه عبور حساب شما
            به کلمه عبوری که در اینجا مشخص می کنید تغییر خواهد کرد.
        </p>
        <p>
            توجه کنید: به منظور حفظ امنیت حساب شما، برای استفاده از این رمز و تغییر کلمه عبور خود از زمان ارسال آن،
            تنها 30 دقیقه فرصت دارید. در صورتی که در این فرصت موفق به تغییر کلمه عبور خود نشوید، می توانید بعد از
            مدت زمان 6 ساعت مجدداً درخواست خود را تکرار کنید.
        </p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-2">
                <label for="" class="control-label"><i class="fa fa-star text-danger"></i> نام کاربری:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="user.UserName" ng-minlength="4" ng-maxlength="50" ng-required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="" class="control-label"><i class="fa fa-star text-danger"></i>رمز ارسال شده:</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="user.PasswordResetToken" ng-minlength="4" ng-maxlength="50" ng-required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="" class="control-label"><i class="fa fa-star text-danger"></i>کلمه عبور جدید:</label>
            </div>
            <!-- <div>-->
            <!-- <input type="text" class="col-md-3" ng-model="NewPassword" ng-minlength="4" ng-maxlength="50" ng-required="true"/>-->
            <!-- </div>-->
            <div class=" col-md-3 password">
                <input type="password" ng-model="user.NewPassword" ng-required="true"
                       ng-change="checkPassword()" ng-hide="eyeClick"/>
                <input type="text" dir="ltr" ng-model="user.NewPassword" ng-show="eyeClick"/>
                <i class="fa fa-eye eyeicon" ng-show="showIcon"
                   ng-mousedown="eyeClick = true" ng-mouseup="eyeClick = false" ng-mouseleave="eyeClick = false"></i>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btnReset" ng-disabled="frmResetPassword.$invalid" ng-click="onResetPasswordClick()">تنظیم مجدد کلمه عبور </button>
            </div>
            <div class="col-md-5">
                <label class="label-danger" ng-show="PasswordLengthMinimumRequirement">طول کلمه ی عبور باید حداقل 6 حرف باشد</label>
            </div>
        </div>
        <br/>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">در صورتی که رمز تغییر کلمه عبور را دریافت نکردید</h3>
            </div>
            <div class="panel-body">
                <p>ممکن است به دلایل زیر رمز برای شما ارسال نشود:</p>
                <ul>
                    <li>در صورتی که تلفن یا آدرس ایمیلی که وارد کردید، در اطلاعات تماس شما ثبت نشده باشد.</li>
                    <li>در صورتی که تلفن یا آدرس ایمیلی که وارد کردید «فعال سازی» نکرده باشید.</li>
                    <li>در صورتی که حساب کاربری شما توسط مدیر سیستم غیرفعال شده باشد.</li>
                </ul>
                <p>
                    اگر اطمینان دارید که شرایط فوق پیش نیامده، ممکن است پیغام سیستم به دلایل مخابراتی به دست شما نرسیده باشد. در صورتی که
                    از ایمیل استفاده می کنید، حتماً پوشه اسپم را بررسی کنید تا مطمئن شوید که سامانه ایمیل شما پیغام این سایت را به عنوان
                    هرزنامه شناسایی نکرده باشد.
                </p>
                <p>
                    لطفاً پس از در نظر گرفتن همه موارد فوق، مجدداً سعی کنید. در صورتی که وفق نشدید به حساب خود دسترسی داشته باشید، پیغامی برای مدیر سایت
                    ارسال کنید تا ما بتوانیم به شما کمک کنیم.
                </p>
            </div>
        </div>

    </form>

</div>