<div class="container signUpView">
    <div class="page-header">
        <h1>بازیابی کلمه عبور</h1>
    </div>
    <form name="frmUser" class="form-horizontal" novalidate>
        <p>
            کلمه عبور شما در این سایت به صورت رمزشده نگهداری می شود تا از دسترسی احتمالی نفوذگر ها در امان باشد. لذا امکان بازیابی و ارسال
            کلمه عبور فعلی برای شما وجود ندارد.
            در عوض، می توانید با استفاده از تلفن همراه / آدرس ایمیل خود که در زمان فعال سازی حساب خود معرفی کرده اید، رمز موقتی برای ورود
            به حساب خود دریافت کنید و با استفاده از آن، کلمه عبور خود را تغییر دهید.
        </p>
        <!-- <div>
            <p>
                قبل از هر کاری، نشان دهید که یک ربات نیستید! عدد شش رقمی نمایش داده شده در تصویر زیر را در فیلد کنار آن وارد کنید.
                سپس نام کاربری خود را وارد کرده، و گزینه «تنظیم مجدد کلمه عبور» را انتخاب کنید.
            </p>

            @Html.Action("ViewImage", "Captcha")
            @Html.CaptchaErrorMessage()

        </div>-->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">نام کاربری</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="control-label"><i class="fa fa-star text-danger"></i> نام کاربری:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="user.UserName" ng-minlength="4" ng-maxlength="50" ng-required="true"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form name="frmSms" class="form-horizontal" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">استفاده از پیام کوتاه</h2>
            </div>
            <div class="panel-body">
                <p>
                    در صورتی که هنگام فعال سازی حساب خود، شماره تلفن همراه خود را وارد کرده و رمز فعال سازی را از طریق پیام کوتاه دریافت کرده اید، این شماره
                    را مجداً در این قسمت وارد کنید و گزینه «تنظیم مجدد کلمه عبور» را انتخاب کنید.
                </p>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="control-label"><i class="fa fa-star text-danger"></i> شماره تلفن همراه:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="user.VerificationPhoneNumber" ng-minlength="4" ng-maxlength="50"  ng-required="true"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btnStartPasswordRecoveryBySms" ng-disabled="frmSms.$invalid || frmUser.$invalid" ng-click="onPasswordRecoveryBySmsClick()"> تنظیم مجدد کلمه عبور </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form name="frmEmail" class="form-horizontal" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">استفاده از پست الکترونیکی</h2>
            </div>
            <div class="panel-body">
                <p>
                    در صورتی که هنگام فعال سازی حساب خود، آدرس ایمیل خود را وارد کرده و رمز فعال سازی را در یک نامه الکترونیکی دریافت کرده اید، آدرس ایمیل خود
                    را مجدداً در این قسمت وارد کنید و گزینه «تنظیم مجدد کلمه عبور» را انتخاب کنید.
                </p>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="control-label"><i class="fa fa-star text-danger"></i> آدرس ایمیل:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="user.VerificationEmailAddress" ng-minlength="4" ng-maxlength="50" ng-required="true"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btnStartPasswordRecoveryByEmail" ng-disabled="frmEmail.$invalid || frmUser.$invalid" ng-click="onPasswordRecoveryByEmailClick()">تنظیم مجدد کلمه عبور </button>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>