
<form ng-submit="changePassword(_currentPassword, _newPassword, _newPasswordConfirmation)" name="frmChangePassword">
    <div class="modal-header">
        <h3 class="modal-title">تغییر رمز...</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="txtCurrentPassword">رمز فعلی:</label>
            <input id="txtCurrentPassword" class="form-control" type="password" ng-model="_currentPassword" required minlength="6" />
        </div>
        <div class="form-group">
            <label for="txtNewPassword">رمز جدید:</label>
            <input id="txtNewPassword" class="form-control" type="password" ng-model="_newPassword" required minlength="6" />
        </div>
        <div class="form-group">
            <label for="txtNewPasswordConfirmation">رمز جدید (دوباره):</label>
            <input id="txtNewPasswordConfirmation" class="form-control" type="password" ng-model="_newPasswordConfirmation" required minlength="6" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="frmChangePassword.$invalid">تغییر</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">انصراف</button>
    </div>
</form>
