@using JahanJooy.Common.Util.Text
@using JahanJooy.Common.Util.Web.Extensions
@using JahanJooy.RealEstate.Util.Resources
@model JahanJooy.RealEstate.Domain.Messages.OutgoingSmsMessage

<span title="@Model.MessageText">@Model.Reason.Label(DomainEnumResources.ResourceManager) - [@Model.MessageText.Length] حرف</span>
<br/>

@Model.SourceEntityType: @Model.SourceEntityID


