
@{
	ViewBag.Title = "سایت ثبت، درج، انتشار و جستجوی رایگان اطلاعات املاک";
	ViewBag.MetaDescription = "اطلاعات عمومی در مورد سایت خونه ت دات کام، سایت ثبت، درج آگهی رایگان و انتشار اطلاعات تخصصی ملکی با امکانات جستجوی پیشرفته بر اساس مشخصات جرئی املاک";
}

<div class="page-header">
	<h1>
		درباره خونه&zwnj;ت دات کام
		<small>بانک اطلاعات املاک</small>
	</h1>
</div>

<p>
	سایت «خونه ت دات کام» یک سامانه اطلاع رسانی تخصصی برای تسهیل برقراری ارتباط بین فعالین در امور ملکی است.
	صاحبان املاک که قصد فروش یا اجاره ملک خود را دارند می توانند مشخصات جزئی آن را در این سایت ثبت کنند. از
	طرف دیگر افرادی که قصد خرید یا اجاره کردن ملکی را دارند می توانند با استفاده از جزئیات ثبت شده به عنوان
	مشخصات املاک در آنها جستجو کرده، و ملک مورد نظر خود را بیابند.
</p>
<p>
	این سامانه توسط کارشناسان نرم افزار و صرفاً جهت ثبت و اطلاع رسانی طراحی شده است، و به هیچ عنوان در حوزه
	واسطه گری املاک فعالیتی نداشته و نخواهد داشت. همچنین این سایت به هیچ یک از شرکت های فعال در حوزه مشاوره
	یا واسطه گری، و یا هیچ یک از مشاورین املاک وابسته نیست.
</p>
<p>
</p>

<h2>رایگان؛ برای همه</h2>

<p>
	خدمات این سایت، از جمله ثبت اطلاعات املاک، جستجو در آنها و دریافت جزئیات اطلاعات برای همه افراد
	رایگان است. هدف از این سایت تسهیل ارتباط بین فعالین در امور ملکی، سازندگان، مالکین و متقاضیان است و در
	این راستا، همه افراد بدون پرداخت هیچ وجهی و بدون هیچ محدودیتی می توانند از این سامانه استفاده کنند.
</p>
<p>
	امیدواریم خدمات این سایت بتواند کمکی برای شما باشد.
</p>

<h2>آیا این سایت جایگزین مشاورین املاک است؟</h2>

<p>
	خیر، به هیچ عنوان.
</p>
<p>
	مشاورین املاک یکی از مهمترین گروه های استفاده کننده از امکانات این سامانه هستند که از طریق آن می توانند
	مشخصات املاک مشتریان خود را در اختیار عموم قرار دهند تا با صرف هزینه کمتر و به طور ساده تر به مخاطبین
	بیشتری دسترسی داشته باشند.
</p>
<p>
	همچنین مشاورین املاک می توانند همانند همه کاربران در این سایت برای مشتریان خود به جستجوی ملک بپردازند
	و به مجموعه بزرگ تری از اطلاعات املاک به صورت متمرکز دسترسی داشته باشند.
</p>

<h2>آیا محتویات سایت قابل اعتماد است؟</h2>

<p>
	باز هم خیر، به هیچ عنوان!
</p>
<p>
	این یک سامانه آزاد و عمومی است، و هر شخصی می تواند اطلاعات مورد نظر خود را، صحیح یا غلط، در این سایت ثبت
	کرده و در اختیار عموم قرار دهد. با اینکه مسئولین سایت اطلاعات ثبت شده را به صورت اولیه بررسی می کنند
	اما امکان بررسی صحت اطلاعات وارد شده توسط ما وجود ندارد.
</p>
<p>
	لذا دقت کنید که مسئولیت اطلاعات ثبت شده در سایت با کاربر ثبت کننده آن است. همچنین صرف وجود یک رکورد ملکی
	در این سایت برای هیچ شخصی مسئولیتی ایجاد نمی کند و تنها کاربرد این رکورد جهت اطلاع رسانی است.
	<span style="font-weight: bold;">
		شما خود مسئول هستید که پیش از انعقاد قرارداد ملکی، از همه جزئیات ملک مورد معامله به صورت
		مستقل اطلاعات کسب کنید. ممکن است حتی کاربران متبحر هم در وارد کردن اطلاعات اشتباه کرده باشند.
	</span>
</p>
<p>
	همچنین، سعی کنید در استفاده از این سامانه به سایرین کمک کنید. در صورت مشاهده اشتباه در اطلاعات ملک،
	با استفاده از «گزارش سوء استفاده» آن را به اطلاع مسئولین سایت برسانید تا با دقت بیشتری آن را بررسی کنند.
</p>


