@model dynamic

@{
	ViewBag.Title = "درباره فعال سازی حساب و روش تماس";
}

<div class="page-header">
	<h1>درباره فعال سازی حساب و روش تماس</h1>
</div>

<p>
	برای اینکه نرم افزار سایت بتواند از روش تماس معرفی شده توسط شما استفاده کند، باید ابتدا اطمینان پیدا کند که روش تماس
	معرفی شده واقعاً متعلق به صاحب حساب است. این کار کاملاً رایگان بوده و برای استفاده بهتر از امکانات سایت برای همه کاربران بدون هیچ
	محدودیتی قابل انجام است.
</p>

<p>
	برای این کار، سایت یک رمز تصادفی برای شما تولید می کند و به آدرس ایمیل یا شماره تلفن همراه شما (به صورت پیام کوتاه) می فرستد.
	شما با ارائه این رمز در سایت، به ما اطمینان می دهید که آدرس ایمیل یا شماره تلفن متعلق به شما است و می توان از آن برای ارسال
	اطلاعات به شما استفاده کرد.
</p>

<h2>چرا؟</h2>

<p>
	برخی از مکانیزم های امنیتی از ارسال پیغام های سیستمی برای ارتباط با شما استفاده می کنند. برای مثال، در صورتی که کلمه عبور
	یا نام کاربر خود را فراموش کنید، سیستم با ارسال ایمیل یا پیام کوتاه می تواند به شما کمک کند. با کسب اطمینان از اینکه اطلاعات
	وارد شده صحیح بوده و متعلق به شماست، از سوء استفاده از این قابلیت جلوگیری می شود و شما هم اطمینان پیدا می کنید که
	هیچ وقت دسترسی خود را به اطلاعات و حساب خود از دست نمی دهید.
</p>

<p>
	همچنین بسیاری از امکانات سایت با داشتن اطلاعات تماس شما بهبود می یابد. برای مثال
	امکان خبر رسانی به شما در مواقع مختلفی که انتخاب کرده اید، مانند اتمام مهلت آگهی یا دریافت پیغام ایجاد می شود؛
	قرار گرفتن اطلاعات ثبت شده توسط شما با سرعت بیشتری انجام می شود؛
	یا هنگامی که ملکی با مشخصات مورد نظر شما ثبت می شود سیستم می تواند شما را مطلع کند.
</p>

<p>
	برای این موارد، باید ابتدا ما از صحت اطلاعات تماس شما اطمینان داشته باشیم، تا راه سوء استفاده از این قابلیت ها
	توسط سایر افراد مسدود شود.
</p>

<h2>اما من نمی خواهم اطلاعاتم در اختیار عموم باشد</h2>

<p>
	برای ثبت و فعال سازی روش تماس هیچ نیازی به عمومی بودن آن ندارد. ما فقط اطلاعاتی از شما را به سایر کاربران نمایش
	می دهیم که خود انتخاب کرده باشید. شما در هنگام ثبت روش تماس، می توانید انتخاب کنید که این اطلاعات به چه کاربرانی
	نمایش داده شود. در صورتی که «هیچ کس» را انتخاب کرده باشید، آدرس ایمیل یا شماره تلفن به هیچ یک از کاربران
	نمایش داده نمی شود، ولی شما می توانید برای استفاده خود آن را فعال کنید.
</p>

<p>
	افرادی که به انتخاب شما شماره تلفن یا آدرس ایمیل را مشاهده می کنند، از فعال بودن یا نبودن آن نیز مطلع می شوند. لذا
	بهتر است در صورتی که روش تماس خود را برای برخی یا تمام کاربران قابل مشاهده می کنید، باز هم آنها را فعال کنید تا
	بازدید کنندگان هم قبل از تماس با شما از اینکه این اطلاعات صحت دارد مطمئن باشند.
</p>

<p>
	<span class="bold">توجه کنید:</span>
	اطلاعات تماسی که در داخل مشخصات ملک وارد می کنید، ارتباطی می تواند با اطلاعات پروفایل شما یکی باشد و یا تفاوت داشته باشد،
	و با انتشار اطلاعات ملک، به صورت عمومی در دسترس همه قرار خواهد گرفت.
</p>