@model HandleErrorInfo

<h2>
    آخ....
</h2>

<p>
	این باعث شرمندگیه، اما متاسفانه مشکلی توی برنامه پیش اومده که پیش بینی نشده بوده. به همین دلیل الان نمی تونیم درخواست شما رو انجام بدیم.
</p>

<p>
	به احتمال زیاد، مشکل ناشی از خطایی در برنامه نویسی یا پیکربندی سیستم است. همین الان اطلاعات مربوط به این خطا در اختیار مسئول سایت قرار
	گرفته تا علت دقیق اون رو پیدا کنه و رفع کنه.
</p>

<p>
	به هر حال، پوزش ما رو بپذیرید. اگه خواستید می تونید
	<a href="javascript:history.go(-1)">به صفحه قبل برگردید</a>
	و دوباره امتحان کنید.
</p>

