

<h2>اطلاعات ورودی می تواند خطرناک باشد</h2>

<p>
	اطلاعاتی که در فرم وارد کردید، ممکن است حاوی کد های خطرناک باشد و لذا سیستم از اجرای درخواست شما جلوگیری کرده است.
</p>

<h2>چی؟!؟!؟؟</h2>

<p>
	اطلاتی که در فرم وارد کردید، دارای الگوهایی است که مشکوک به حمله نفوذ کد است.
</p>
<p>
	نوعی حمله امنیتی می تواند توسط هکر ها (نفوذگرها) انجام شود که «تزریق کد» یا 
	Cross Site Scripting
	نام دارد. این حمله می تواند باعث شود که از اطلاعات شخصی کاربران در اختیار حمله کننده قرار گیرد، یا امکاناتی جهت
	اجرای حمله های امنیتی پیچیده تر فراهم شود.
</p>

<p>
	اطلاعات بیشتر در مورد این حمله را می توانید در این صفحات مشاهده کنید:
</p>

<ul>
	<li><a href="http://fa.wikipedia.org/wiki/%D8%AD%D9%85%D9%84%D8%A7%D8%AA_%D8%AA%D8%B2%D8%B1%DB%8C%D9%82_%DA%A9%D8%AF" target="_blank">حملات تزریق کد - ویکی پدیا فارسی</a></li>
	<li><a href="http://en.wikipedia.org/wiki/Cross-site_scripting" target="_blank">حملات تزریق کد - ویکی پدیا انگلیسی</a></li>
	<li><a href="https://www.owasp.org/index.php/Cross-site_Scripting_%28XSS%29" target="_blank">اطلاعات کامل و نمونه های حمله در سایت OWASP</a></li>
</ul>

<h2>من این چیزا رو بلد نیستم، هکر هم نیستم!</h2>

<p>
	محتمل ترین حالتی که در آن یک کاربر عادی می تواند با این خطا برخورد کند، استفاده از علامت «کوچکتر و بزرگتر» یا « &lt; و &gt; » در متن ورودی است.
	در صورتی که از این علامت در ورودی استفاده می کنید، حتماً قبل و بعد از آن از فاصله استفاده کنید.
</p>

<p>
	برای مثال، به جای
	a&lt;b
	لطفاً اطلاعات را به صورت
	a &lt; b
	وارد کنید.
</p>

<p>
	می توانید
	<a href="javascript:history.go(-1)">به صفحه قبل برگردید</a>
	و دوباره امتحان کنید.
</p>
