<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<form name="frmResetPassword" class="modal-body">
    
        <div class="row">
            <label for="" class="col-md-3 control-label">رمز جدید:</label>
            <div class="col-md-5">
                <input type="password" ng-model="NewPassword" ng-required="true"/>
            </div>
        </div>


    <div class="row">
        <label for="" class="col-md-3 control-label">رمز جدید (دوباره):</label>
        <div class="col-md-5">
            <input type="password" ng-model="ConfirmPassword" ng-change="confirmPassword()" ng-required="true"/>
        </div>
        <div class="col-md-4">
            <label class="label-danger" ng-show="InvalidPassword">کلمه های عبور وارد شده با یکدیگر همخوانی ندارند</label>
        </div>
    </div>

</form>
       
   
<div class="modal-footer">
    <button class="btn btn-success saveButton" ng-click="onSave()" ng-disabled="frmResetPassword.$invalid" id="okSave" restrict-to="Administrator"><i class="fa fa-floppy-o"></i> تغییر</button>
    <button class="btn btn-default" ng-click="cancel()" restrict-to="Administrator">انصراف</button>
</div>