@using JahanJooy.RealEstate.Util.Presentation
@model JahanJooy.RealEstate.Core.Components.Dto.UserBillingBalance

<span class="bold">@BillingPresentationHelper.Balance(Model.CashBalance)</span><br />
<span class="small">@BillingPresentationHelper.Balance(Model.BonusBalance)</span>
