@using Compositional.Composer.Web
@using JahanJooy.RealEstate.Core.Services.Billing
@using JahanJooy.RealEstate.Web.Areas
@model dynamic

@{
	var tarrif = ComposerWebUtil.ComponentContext.GetComponent<ITarrifService>().GetTarrif(null);
}

<div class="page-header">
	<h1>تبلیغ در خونه&zwnj;ت</h1>
</div>

<p>
	شما می تونید املاک، محصولات یا خدمات خودتون که فکر می کنید مناسب مخاطبین این سایت هستن،
	به صورت متمایز در این سایت تبلیغ کنید.
	بسته به اینکه چه چیزی رو می خواید تبلیغ کنید، می تونید از یک یا چند تا از امکانات مختلف تبلیغ روی این سایت استفاده کنید.
</p>


<br />
<h2>
	چرا روی خونه&zwnj;ت تبلیغ کنم؟
</h2>

<table>
	<tr>
		<td style="width: 150px;"><span class="bold large" style="color: #c00;">سایت تخصصی، مخاطبین خاص</span></td>
		<td>
			چون خونه&zwnj;ت به صورت تخصصی فقط به خدمات املاک می پردازه، مخاطبین این سایت همه افرادی هستن
			که به نحوی با ملک و ساختمان سر و کار دارن؛ یا در حال خرید و فروش ملک هستن، یا مشاور املاک هستن، یا سرمایه گذار هستن،
			و یا به این موارد فکر می کنند. شما اگر ملکی دارید، اگر مشاور املاک هستید، اگر خدمات مرتبط با ملک یا ساختمان ارائه
			می کنید، یا تولید کننده مصالح و ابزارهای ساختمانی هستید، اینجا برای شما بهترین محل تبلیغه.
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr/></td>
	</tr>
	<tr>
		<td style="width: 150px;"><span class="bold large" style="color: #c00;">متناسب با هر بودجه</span></td>
		<td>
			برای تبلیغ، هیچ وقت نیاز به هزینه زیاد و یکجا ندارید. چون هزینه تبلیغات روی خونه&zwnj;ت به ازای هر نمایش یا هر کلیک
			محاسبه میشه، شما می تونید بودجه خودتون رو طوری که دوست دارید تنظیم کنید. حتی می تونید با کمتر از هزار تومن شروع کنید! تعرفه
			تبلیغ رو هم خودتون مشخص می کنید؛ یعنی شما می تونید به ما بگید که دوست دارید به ازای هر نمایش یا هر کلیک، حداکثر چقدر
			هزینه کنید.
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr/></td>
	</tr>
	<tr>
		<td style="width: 150px;"><span class="bold large" style="color: #c00;">بدون ریسک</span></td>
		<td>
			روی سایت خونه&zwnj;ت، همیشه می تونید مبلغ باقی مونده از پولی که پرداخت کردید رو پس بگیرید. پولی که می پردازید، به صورت
			امانت پیش ما می مونه تا مصرف بشه. هر زمانی که بخواهید می تونید تبلیغ تون رو متوقف کنید، و فقط به اندازه مصرف شده تا اون
			لحظه با توجه به نوع پرداخت (هر نمایش، هر کلیک، یا مدت زمان) پول از حسابتون کم میشه.
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr/></td>
	</tr>
	<tr>
		<td style="width: 150px;"><span class="bold large" style="color: #c00;">رایگان شروع کنید</span></td>
		<td>
			با ثبت نام روی خونه&zwnj;ت، سایت یک مبلغ کوچیک به حساب شما به صورت هدیه واریز می کنه که می تونید از اون استفاده
			کنید و تبلیغ مورد نظرتون رو آزمایش کنید. کافیه که بعد از ثبت نام، یک تلفن همراه و یک آدرس ایمیل برای خودتون معرفی
			کنید و اونها رو فعال کنید.
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr/></td>
	</tr>
	<tr>
		<td style="width: 150px;"><span class="bold large" style="color: #c00;">به ازای هر نمایش<br/>به ازای هر کلیک</span></td>
		<td>
			شما لازم نیست نگران به صرفه بودن تبلیغ تون باشید؛ چون فقط به ازای بازدید ها و کلیک های واقعی کاربرها پول
			می پردازید. تعرفه تبلیغات زمانی نیست، برای همین شما نگران کم شدن بیننده های سایت در روزهای تعطیل یا قطعی سرویس
			نخواهید بود.
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr /></td>
	</tr>
</table>


<br />
<h2>
	املاک ویژه
</h2>

<p>
	شما می تونید ملک خودتون یا مشتری تون رو به صورت متمایز آگهی کنید؛ یعنی از ما بخواید که ملک رو توی نتیجه جستجو در
	ابتدای صفحه، و به صورت متمایز نمایش بدیم. در این حالت ملک شما به کاربرای بیشتری نمایش داده میشه، و توجه بیشتری 
	رو به خودش جلب می کنه. 
</p>

<p>
	برای این کار، اگر هنوز ملک خودتون رو توی خونه&zwnj;ت ثبت نکردید، اول
	<a href="@Url.Action("QuickCreate", "Property", AreaRouteValue.Main)">اطلاعات ملک تون رو ثبت کنید</a>.
	بعد از ثبت، از داخل صفحه مشخصات ملک گزینه «آگهی ویژه» رو انتخاب کنید.
</p>
<br/>
<div style="margin-right: 40px;">
	<p class="bold large">
		تعرفه ثبت ملک ویژه:
	</p>

	<p>
		برای هر ملک، شما می تونید <span class="bold">یکی</span> از راه های زیر رو که دوست دارید انتخاب کنید:
	</p>

	<table>
		<tr>
			<td colspan="2"><hr /></td>
		</tr>
		<tr>
			<td style="width: 150px;"><span class="bold">پرداخت با هر نمایش</span></td>
			<td>
				<span>با هر بار نمایش ملک شما در فهرست املاک یا نتایج جستجو، مبلغی از حساب شما کسر می شود.</span>
				<br/>
				<span class="bold">هزینه هر نمایش: </span>
				قابل انتخاب توسط شما.
				<span class="smaller" style="color: #888;">(حداقل @tarrif.PropertyListingSponsorshipTarrif.PerImpressionMinimumBid ریال)</span>
			</td>
		</tr>
		<tr>
			<td colspan="2"><hr /></td>
		</tr>
		<tr>
			<td style="width: 150px;"><span class="bold">پرداخت با هر کلیک</span></td>
			<td>
				<span>هر بار کاربری روی ملک شما در فهرست املاک یا نتایج جستجو کلیک کند، مبلغی از حساب شما کسر می شود.</span>
				<br/>
				<span class="bold">هزینه هر کلیک: </span>
				قابل انتخاب توسط شما.
				<span class="smaller" style="color: #888;">(حداقل @tarrif.PropertyListingSponsorshipTarrif.PerClickMinimumBid ریال)</span>
			</td>
		</tr>
		<tr>
			<td colspan="2"><hr /></td>
		</tr>
	</table>
</div>

<br />
<h2>
	تبلیغات تجاری
</h2>


<p>
	اگر شما خدماتی ارائه می کنید یا محصولی تولید می کنید که ممکنه برای مخاطبین ما جالب باشه، می تونید خودتون رو به صورت
	تبلیغ در سایت معرفی کنید. تبلیغات به دو صورت متنی و گرافیکی قابل قبول هستند؛ و می تونید انتخاب کنید که در کدوم
	صفحات نمایش داده بشن:
	<ul>
		<li>فقط صفحه اول</li>
		<li>صفحه نتایج جستجو (فهرست املاک)</li>
		<li>صفحه مشخصات ملک (برای همه املاک)</li>
		<li>همه صفحات (شامل همه موارد بالا)</li>
	</ul>
</p>

<p>
	دقت کنید که استفاده از تصاویر متحرک یا چشمک زن، و استفاده از Flash
	به دلیل ناخوشآیندی برای بازدید کننده و ایجاد محدودیت در مرورگر کاربران، کلاً در این سایت مجاز نیست.
</p>

<p>
	تبلیغات تجاری فعلاً به صورت زمانی (از یک هفته تا سه ماه) قابل سفارش هستند؛ در آینده امکان سفارش 
	این تبلیغات هم به صورت «به ازای نمایش» و «به ازای کلیک» فرآهم خواهد شد.
</p>

<p>
	لطفاً برای دریافت اطلاعات بیشتر، مشاهده تعرفه ها و سفارش تبلیغات تجاری، 
	<a href="@Url.Action("ContactUs", "UserFeedback", AreaRouteValue.Main)">با ما تماس بگیرید</a>.
</p>