@using System
@using JahanJooy.RealEstate.Core.Impl.Templates.Email
@functions {
	private PasswordRecoveryByUnregisteredEmailNotificationModel _model;
	public override void SetModel(object model)
	{
		_model = (PasswordRecoveryByUnregisteredEmailNotificationModel)model;
	}

}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<table width="95%" style="width: 95%; direction: rtl; font-size: 20px;">
			<tr><td style="background-color: #dddddd;">
				    <table width="100%" style="width: 100%; font-size: 20px; font-weight: bold;" cellpadding="10" cellspacing="5">
					    <tr>
						    <td>استفاده از آدرس شما برای بازیابی کلمه عبور</td>
						    <td style="text-align: left;"><a href="http://www.khoonat.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">خونه ت دات کام</a></td>
					    </tr>
				    </table>
			    </td></tr>
			<tr><td>
				    <table width="100%" style="width: 100%; font-size: 18px;" cellpadding="10" cellspacing="5">
					    <tr>
						    <td>
							    شما این ایمیل رو به این دلیل دریافت می کنید که شخصی با استفاده از آدرس ایمیل
								«<span style="direction: ltr;">@_model.TargetEmail</span>»
							    و نام کاربری
							    «<span style="direction: ltr;">@_model.RequestedLoginName</span>»
								در سایت «خونه ت دات کام» - 
							    www.khoonat.com - 
							    درخواست کرده که کلمه عبور فراموش شده خود را بازیابی کند.
							    از آنجا که این آدرس ایمیل در سایت ثبت نشده است، احتمالاً این یک اشتباه کاربری است و شما می توانید
							    این پیغام را نادیده بگیرید. در صورتی که این پیغام تکرار شد، می توانید برای پی گیری موضوع با مسئولین
							    سایت تماس بگیرید.
							    <br/>
							    <br/>
							    از اینکه بدون درخواست شما به آدرس شما ایمیل ارسال کردیم پوزش می خواهیم، اما به هر حال جهت جلوگیری از هر
								نوع سوء استفاده احتمالی ما خود را موظف به اطلاع رسانی به شما می دانیم.
						    </td>
						    <td style="direction: ltr;">
							    You are receiving this email because one of the visitors to the www.khoonat.com website has claimed that he / she
							    has forgotten his / her password, and has provided "@(_model.TargetEmail)" as the email address and
							    "@(_model.RequestedLoginName)" as the login name.
							    As this email address is not registered in the website, this is probably a user error and you can safely ignore
							    this message. But if you receive this message repeatedly, you can contact site administrators for follow up.
							    <br/>
							    <br/>
							    We do apologize for sending an email to you without any request from you, but we feel obligated to inform you
								of your email address being used, to prevent the possibility of abuse.
						    </td>
					    </tr>
				    </table>
				    
			    </td></tr>
			<tr><td style="font-size: 20px; text-align: center; background-color: #dddddd; padding: 10px">
				    <a href="http://www.khoonat.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">www.khoonat.com</a>
			    </td></tr>
			<tr><td style="width: 100%; font-size: 14px;">
				    <br/><br/>   
				    این پیغام توسط سیستم تولید شده است و در صورتی که به آن پاسخ دهید به دست ما نخواهد رسید.
				    اگر در خصوص این پیغام یا هر موضوع دیگری تمایل دارید با مسئولین سایت در تماس باشید، لطفاً
				    از صفحه «تماس با ما» در سایت استفاده کنید.
			    </td></tr>
			<tr><td style="width: 100%; font-size: 14px; direction: ltr;">
				    This is a system-generated email, and in case you reply to this message it will not be delivered.
				    If you intend to get in touch with the site administrators regarding this message or any other matters,
					please use the contact page on the website.
			    </td></tr>
		</table>
	</body>
</html>
