@using System
@using JahanJooy.RealEstate.Core.Impl.Templates.Email
@functions {
	private PasswordRecoveryBySmsStartNotificationModel _model;
	public override void SetModel(object model)
	{
		_model = (PasswordRecoveryBySmsStartNotificationModel)model;
	}

}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<table width="95%" style="width: 95%; direction: rtl; font-size: 20px;">
			<tr><td style="background-color: #dddddd;">
				    <table width="100%" style="width: 100%; font-size: 20px; font-weight: bold;" cellpadding="10" cellspacing="5">
					    <tr>
						    <td>درخواست تنظیم مجدد کلمه عبور</td>
						    <td style="text-align: left;"><a href="http://www.khoonat.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">خونه ت دات کام</a></td>
					    </tr>
				    </table>
			    </td></tr>
			<tr><td>
				    <table width="100%" style="width: 100%; font-size: 14px;" cellpadding="10" cellspacing="5">
					    <tr>
						    <td>
							    شما این ایمیل رو به این دلیل دریافت کردید که شخصی 
							    در سایت «خونه ت دات کام» - 
							    www.khoonat.com - 
							    با ارائه نام کاربری و شماره تلفن شما اعلام کرده که کلمه عبور رو فراموش کرده.
							    این پیغام تنها جهت اطلاع شما ارسال شده و در حالت عادی نیازی نیست اقدامی بابت دریافت
								این ایمیل انجام بدید.
						    </td>
					    </tr>
				    </table>
				    
			    </td></tr>
			<tr><td>
				    <br/>
				    <p>
					    کاربر گرامی، 
					    @_model.User.FullName،
				    </p>
				    <p>
					    به اطلاع می رساند مکانیزم تنظیم مجدد کلمه عبور فراموش شده، از طریق تلفن همراه شما به درخواست شما آغاز شده است.
				    </p>
				    <p style="background-color: #ffffaa; border: dashed 1px darkgray; padding: 10px;">
					    شماره تلفن همراه استفاده شده:
					    <span style="direction: ltr;">@_model.ContactMethod.ContactMethodText</span>
				    </p>
				    <p>
					    لطفاً رمزی که از طریق پیام کوتاه دریافت می کنید، در فرم نمایش داده شده در سایت وارد کنید تا بتوانید کلمه عبور
						جدیدی برای خود تنظیم کنید.
				    </p>
				    <p>
					    توجه کنید: اگر شماره تلفن فوق الان در اختیار شما نیست، حتماً به سرعت وارد حساب خود در سایت شوید و این شماره
					    را از فهرست روش های تماس خود حذف کنید. در صورتی که به این دلیل دسترسی به حساب خود را از دست دادید، می توانید با
						مسئولین سایت تماس بگیرید تا به شما کمک کنند.
				    </p>
				    <p>
					    از اینکه از خدمات این سایت استفاده می کنید سپاس گزاریم؛
					    <br/>
					    خونه ت دات کام
				    </p>
			    </td></tr>
			<tr><td style="font-size: 20px; text-align: center; background-color: #dddddd; padding: 10px">
				    <a href="http://www.khoonat.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">www.khoonat.com</a>
			    </td></tr>
			<tr><td style="width: 100%; font-size: 14px;">
				    <br/><br/>   
				    این پیغام توسط سیستم تولید شده است و در صورتی که به آن پاسخ دهید به دست ما نخواهد رسید.
				    اگر در خصوص این پیغام یا هر موضوع دیگری تمایل دارید با مسئولین سایت در تماس باشید، لطفاً
				    از صفحه «تماس با ما» در سایت استفاده کنید.
			    </td></tr>
		</table>
	</body>
</html>
