@using JahanJooy.RealEstate.Util.Presentation

<div class="panel panel-primary">
    <table class="table table-hover">
        <tr>
            <td><strong>نام بانک:</strong></td>
            <td>سامان</td>
        </tr>
        <tr>
            <td><strong>شماره حساب:</strong></td>
            <td>@HtmlPresentationHelper.LeftToRight("820-800-751404-1")</td>
        </tr>
        <tr>
            <td><strong>شماره کارت:</strong></td>
            <td>@HtmlPresentationHelper.LeftToRight("6219-8610-1167-3638")</td>
        </tr>
        <tr>
            <td><strong>به نام:</strong></td>
            <td>حامد ایروانچی زاده</td>
        </tr>
    </table>
</div>

